body {
    background: #f4f6f9;
    font-family: Arial, sans-serif;
}

.param-card {
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
}

.normal {
    background: #d4edda;
}

.warning {
    background: #f8d7da;
}

.night {
    background: #1e1e2f;
    color: white;
}