body {
  background: #f4f6f9;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  margin-bottom: 25px;
}

/* Картки */
.card-box {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.row > div {
  margin-bottom: 15px;
}

/* Інфо */
.info-box {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Блок графіків */
.chart-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  height: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#lineChart {
  height: 300px !important;
}

/* PIE */
.pie-legend {
  width: 50%;
  font-size: 12px;
  overflow-y: auto;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.pie-chart-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pieChart {
  max-width: 180px;
}

/* Таблиця */
.table-container {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Heatmap */
#heatmap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.cell {
  height: 20px;
}